.wg-blog {
    &:hover {
        .text {
            &::before {
                width: 100% !important;
            }
        }
    }
    .image {
        margin-bottom: 21px;

        img {
            object-fit: cover;
        }
    }
    .content {
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
        .entry-meta {
            @include flex(center, center);
            gap: 35px;
            margin-bottom: 6px;
            .entry {
                &:not(:last-child) {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -23px;
                        width: 13px;
                        height: 1px;
                        background-color: var(--Sub-color);
                    }
                }
            }
            a,
            .date {
                font-size: 13px;
                font-family: $font-main3;
            }
        }
        .title {
            width: 100%;
            margin-bottom: 19px;
            letter-spacing: 0.6px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        .text {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 0%;
                height: 1px;
                left: 0;
                background-color: var(--Bg);
                top: 0;
                @include transition3;
            }
            padding-top: 20px;
            border-top: 1px solid var(--Border);
            margin-bottom: 34px;
        }
    }
    &.style-2 {
        position: relative;
        display: unset;
        justify-content: unset;
        align-items: unset;
        overflow: hidden;
        .content {
            .entry-meta {
                margin-bottom: 15px;
                .entry {
                    &:not(:last-child) {
                        &::after {
                            top: 60%;
                        }
                    }
                }
            }
            .title {
                font-size: 25px;
                line-height: 32px;
                margin-bottom: 40px;
            }
        }
        .image {
            overflow: hidden;
            margin-bottom: 22px;
            img {
                @include transition3;
            }
        }
        &:hover {
            .image {
                img {
                    margin-top: -90px;
                }
            }

            .content {
                .text {
                    @include visible;
                    margin-top: -26px;
                }

                .tf-btn {
                    margin-top: 20px;
                    transform: translateY(30px);
                }
                .bg {
                    height: 47px;
                }
            }
        }
        .content {
            @include flex(flex-start, flex-start);
            text-align: left;
            .text {
                border: unset;
                padding: unset;
                margin: unset;
                @include hidden;
                @include transition3;
                overflow: hidden;
                &:before {
                    content: none;
                }
            }
            .tf-btn {
                margin-top: -65px;
                position: relative;
                width: max-content;
                @include flex(center, center);
                z-index: 2;
            }
            span {
                position: absolute;
                width: 100%;
                height: 76px;
                bottom: -20px;
                background-color: var(--White);
                border-top: 1px solid var(--Border);
                z-index: 1;
                @include transition3;
            }
        }
    }
}

.page-blog-pagination {
    margin-top: 15px;
    .number-list {
        @include flex(center, center);
        gap: 10px;
        li {
            a {
                @include flex(center, center);
                width: 49px;
                height: 49px;
                border: 1px solid var(--Border);
                color: var(--Text);
                @include transition3;
                &:hover {
                    background-color: var(--Bg);
                    color: var(--White);
                }
                &.active {
                    background-color: var(--Bg);
                    color: var(--White);
                }
            }
        }
    }
}
.wg-social {
    .social-list {
        @include flex(center, center);
        gap: 9px;
        a {
            width: 45px;
            height: 45px;
            @include flex(center, center);
            background-color: transparent;
            border: 1px solid var(--Border-1);
            border-radius: 50%;
            @include transition3;
            i {
                @include transition3;
                color: var(--White);
            }
            &:hover {
                background-color: var(--Sub-color);
                border-color: var(--Sub-color);
            }
        }
    }
    &.style-2 {
        .social-list {
            &.justify-left {
                justify-content: flex-start;
            }
            a {
                background-color: var(--Bg-1);
                i {
                    color: var(--Bg);
                }
                &:hover {
                    background-color: var(--Sub-color);
                    i {
                        color: var(--White);
                    }
                }
            }
        }
    }
}
.blog-single {
    .entry-meta {
        margin-bottom: 25px;
        ul {
            @include flex(center, center);
            flex-wrap: wrap;
            gap: 34px;
            padding-left: 5px;
            li {
                @include flex(center, center);
                gap: 13px;
                .img-meta {
                    @include flex(center, center);
                    width: 32px;
                    height: 32px;
                    border: 1px solid var(--Border-3);
                    border-radius: 50%;
                }
            }
        }
    }
    .main-title {
        text-align: center;
        margin-bottom: 38px;
        font-size: 40px;
        letter-spacing: 0.8px;
    }
    .main-post {
        margin-bottom: 43px;
    }
    .title {
        margin-bottom: 17px;
        letter-spacing: 1px;
        &.s1 {
        }
        &.s2 {
            margin-bottom: 17px;
        }
    }
    .text {
        &.s1-1 {
            margin-bottom: 36px;
        }
        &.s1-2 {
            margin-bottom: 35px;
        }
        &.s1-3 {
            margin-bottom: 43px;
        }

        &.s2-1 {
            margin-bottom: 15px;
        }
        &.s2-2 {
            margin-bottom: 43px;
        }
    }
    .blog-single-bottom {
        padding: 17px 0px 18px 0px;
        @include flex(center, space-between);
        border-top: 1px solid var(--Border-3);
        border-bottom: 1px solid var(--Border-3);
        flex-wrap: wrap;
        gap: 20px;
        .tags {
            @include flex(center, center);
            gap: 6px;
            img {
                flex-shrink: 0px;
            }
            span {
                font-family: $font-main3;

                font-weight: 500;
            }
            ul {
                display: flex;
                li {
                    a {
                        font-family: $font-main3;
                        font-weight: 500;
                    }
                }
            }
        }
        .wg-social {
            @include d-flex();
            gap: 17px;
            .share {
                @include flex(center, center);
                gap: 5px;
                .text {
                    font-family: $font-main3;
                    font-weight: 500;
                }
            }
            .social-list {
                .item {
                    a {
                        width: 37px;
                        height: 37px;
                        .icon-fb {
                            font-size: 14px;
                        }
                        .icon-trip {
                            font-size: 12px;
                        }
                        .icon-mail-envelope-closed {
                            font-size: 17px;
                        }
                        .icon-instagram2 {
                            font-size: 12px;
                        }
                    }
                }
            }
            .none-style {
                padding-right: 20px;
                gap: 4px;
            }
        }
    }
}
.comment-wrap {
    padding-top: 64px;
    padding-bottom: 37px;
    border-bottom: 1px solid var(--Border-3);
    h2 {
        margin-bottom: 28px;
    }
    .comment-item {
        @include flex(center, space-between);
        margin-bottom: 19px;
        gap: 20px;
        flex-wrap: wrap;
        .author {
            @include flex(center, center);
            gap: 22px;
            .image {
                img {
                    border: 1px solid var(--Border-4);
                    border-radius: 50%;
                    max-width: 68px;
                }
            }
            .content {
                .name {
                    font-family: $font-main3;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 1.7px;
                    &:hover {
                        color: var(--Sub-color);
                    }
                }
                .time {
                    color: var(--Text-2);
                    font-size: 13px;
                    letter-spacing: 0.3px;
                }
            }
        }
        .tf-btn {
            padding: 0px 18px 0px 19px;
            text-transform: none;
            line-height: 30px;
            height: 33px;
            font-family: $font-main3;
            font-weight: 500;
        }
    }
    .comment {
    }
}

.post-comment-wrap {
    padding-top: 62px;
    h2 {
        margin-bottom: 25px;
        letter-spacing: 0.2px;
    }
    p {
        margin-bottom: 28px;
        letter-spacing: 0.15px;
    }
    #form-post-comment {
        @include flex(center, center);
        flex-direction: column;
        .cols {
            margin-bottom: 22px;
            textarea {
                margin-bottom: 26px;
            }
        }
        .btn-post-cmt {
            letter-spacing: 2px;
            padding: 8px 32px !important;
        }
    }
}
.video-wrap {
    position: relative;
    @include flex(center, center);
    &.page-blog-single {
        margin-bottom: 44px;
    }
    img {
        object-fit: cover;
        width: 100%;
    }
    .popup-youtube {
        position: absolute;
        height: 90px;
        width: 90px;
        background-color: var(--White);
        @include flex(center, center);
        border-radius: 50%;
        @include transition3;
        z-index: 2;
        i {
            color: var(--Bg);
            font-size: 36px;
            padding-left: 6px;
            @include transition3;
            position: relative;
            z-index: 2;
        }
        .wave {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 109.04px;
            height: 109.04px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            animation: ripple 1s infinite;
        }
        .wave-1 {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 132px;
            height: 132px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 50%;
            animation: ripple-1 1s infinite;
        }
    }
}
.wg-blockquote {
    background-image: url("./../image/blog/bg-quote.png");
    padding: 41px 67px 43px 62px;
    margin-bottom: 27px;
    cite {
        font-family: "CormorantInfant";
        color: var(--Text);
        font-weight: 600;
        line-height: 30px;
        font-size: 20px;
        letter-spacing: 0.4px;
    }
    .note {
        @include flex(center, space-between);
        margin-top: 19px;
        p {
            letter-spacing: 0.5px;
            font-size: 15px;
            font-weight: 500;
            color: var(--Text);
        }
    }
}
