form {
    position: relative;
    z-index: 30;
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 14px 25px 14px 16px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        background-color: var(--White);
        border: 1px solid var(--Border);
        color: var(--Text);
        overflow: hidden;
        margin-bottom: 0;
        &::placeholder {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            color: var(--Soft-Text);
        }
        &:focus {
            border-color: var(--Sub-color) !important;
        }
        &.style-default {
            padding: 0;
            border: 0 !important;
            border-radius: 0;
            background-color: transparent;
        }
        &.style-1 {
            font-size: 15px;
            border-radius: 0;
            padding: 18px 0 3px;
            border: 0;
            border-bottom: 2px solid var(--Border);
            color: var(--Soft-Text);
        }
    }
    .cols {
        @include flex(center, center);
        gap: 22px 22px;
        width: 100%;
        &.mb-20 {
            margin-bottom: 20px;
        }
        &.mb-40 {
            margin-bottom: 40px;
        }
        &.cols-two {
            > * {
                width: 50%;
            }
        }
        &.cols-three {
            > * {
                width: 33.33333%;
            }
        }
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }
    textarea {
        height: 213px;
    }
}

.form-book {
    fieldset {
        position: relative;
        &::after {
            content: "\e92d";
            position: absolute;
            font-family: "icomoon";
            right: 17px;
            top: 17px;
            font-size: 16px;
            @include transition3;
            color: var(--Text);
        }
        select {
            width: 100%;
            padding: 17px 10px 16px 16px;
            border: 1px solid var(--Border);
            color: var(--Text);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:focus {
                border-color: var(--Sub-color) !important;
                &.fieldset {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
            &:focus-visible {
                outline: none;
            }
        }
    }
}
