/*------------ header ---------------- */
@import "header";
/*------------ footer ---------------- */
@import "footer";
/*------------ tabs ---------------- */
@import "tabs";
/*------------ button ---------------- */
@import "button";
/*------------ form ---------------- */
@import "form";
/*------------ slider ---------------- */
@import "slider";
/*------------ off canvas ---------------- */
@import "pop-up";
/*------------ blog ---------------- */
@import "blog";
/*------------ testimonial ---------------- */
@import "testimonial";
/*------------ map ---------------- */
@import "map";
/*------------ hover ---------------- */
@import "hover";
/*------------ animation ---------------- */
@import "animation";
