.swiper-pagination {
    &.pagination-testimonial {
        @include flex(center, center);
        .swiper-pagination-bullet {
            margin: 0 16px !important;
            background-color: var(--Bg);
            position: relative;
            opacity: 1;
            &:not(.swiper-pagination-bullet-active) {
                width: 6px;
                height: 6px;
            }
            &.swiper-pagination-bullet-active {
                background-color: var(--Bg);
                &::before {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid var(--Border-5);
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
