.wg-testimonial {
    .icon-item {
        margin-bottom: 40px;
        img {
            max-width: 34px;
        }
    }
    .title {
        color: var(--Text);
        margin-bottom: 28px;
        letter-spacing: 1.2px;
    }
    .text {
        color: var(--Text);
        margin-bottom: 38px;
        font-weight: 500;
        font-style: italic;
        font-family: "CormorantInfant";
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.4px;
    }
    .rating {
        @include d-flex();
        margin-bottom: 27px;
        gap: 1px;
        i {
            color: var(--Sub-color);
            font-size: 22px;
        }
    }
    .bot {
        letter-spacing: 1.5px;
        color: var(--Bg);
        a {
            color: var(--Bg);
            font-weight: 500;
        }
    }
    &.style-2 {
        text-align: center;
        @include flex(center, center);
        flex-direction: column;
    }
}
