// settings
$font-main: "DM Sans", sans-serif;
$font-main2: "CormorantInfant", sans-serif;
$font-main3: "Nunito", sans-serif;
$fontIcon: "icomoon";
:root {
    --Black: #000000;
    --White: #ffffff;
    --body-text: #666666;
    --Text: #051028;
    --Text-1: #d5d5d5;
    --Text-2: #666666;
    --Text-3: #080f19;
    --Text-4: rgb(8, 15, 25, 0.5);
    --Text-5: #ededed;
    --Text-6: #143279;
    --Bg: #0d2762;
    --Bg-1: rgb(13, 39, 98, 0.12);
    --Bg-2: #f9f4ed;
    --Bg-3: rgb(16, 45, 114, 0.08);
    --Bg-4: rgb(0, 0, 0, 0.5);
    --Bg-5: rgb(5, 16, 40, 0.3);
    --Bg-6: rgba(0, 0, 0, 0.2);
    --Bg-7: rgba(0, 0, 0, 0.35);
    --Sub-color: #e7562a;
    --Border: rgb(8, 15, 25, 0.12);
    --Border-1: rgba(255, 255, 255, 0.25);
    --Border-2: rgba(255, 255, 255, 0.13);
    --Border-3: rgba(23, 23, 23, 0.2);
    --Border-4: #e6c9a2;
    --Border-5: rgb(13, 39, 98, 0.4);
    --Border-6: rgb(255, 255, 255, 0.3);
    --Border-7:rgb(200, 200, 200,0.6);
}
